:root {
  --primary-color: #f7d6f7;
  --secondary-color: #d1a1d1;
  --background-color: #947194;
  --font-size-base: 16px;
  --spacing-medium: 1rem;
}
body {
  background-color: #ffeeff;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #333;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
a {
  color: #333;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
h1 {
  color: #333;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  color: #333;
  font-family: sans-serif;
}
h3 {
  color: #333;
  font-family: sans-serif;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
}

.btn {
}

.btn-delete {
}

img {
}

/* Layout */
.container {
}

.main {
}

/* Hero Section */
.hero-image {
}

/* Main Header */
.header {
}

@media only screen and (min-width: 768px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu button";
  }
}

.header__logo {
}

.header__logo:hover {
}

.header__nav {
}

.header__logo,
.header__nav,
.header__button {
}

.header__button {
}

.header__button button {
}

.header__button button:hover {
}

/* Header -> Navigation */
.header__nav ul {
}

.header__nav ul a {
}

.header__nav ul a.active {
}

.header__nav ul a:hover {
}

/* Author - HomePage */
.author {
}

.author__heading {
}

.author__body {
}

/* Home Article List */
.articles__heading {
}

.article-ul {
}

.article-list__date {
}

.article-ul li a {
}

@media only screen and (min-width: 768px) {
  .article-ul li a {
    flex-direction: row;
    align-items: center;
  }

  .article-list__date {
    text-align: right;
  }
}

.article-ul li {
}

.article-ul li:not(:last-child) {
}

.article-ul li:hover {
}

.article-ul:hover li {
}

.article-ul:hover li:hover {
}

.article {
}

/* Footer */
.footer {
}

/* SeachBar */
.searchBar {
}

.searchBar.open {
}

.searchBar input {
}

#searchClose {
}

.pagination {
}

.pagination:hover {
}

/* Dashboard Admin */
.admin-title {
}

.admin-posts {
}

.admin-post-controls form {
}

.admin-post-controls .btn {
}

.admin-posts li {
}
